<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>政务服务管理及业务办理平台 - 业务受理单</title>
    <style>

    </style>

    <style media="print">
        button {
            display: none;
        }
    </style>

    <style type="text/css">

        body {
            font-size: 16px;
            line-height: 2em;
        }

        table tr td {
            border: solid black 1px;

        }

        .wl_list li {
            line-height: 2em;
            text-align: left;
        }

        table {
            width: 600px;
            margin-left: 95px;
            border-collapse: collapse;
            border-spacing: 0;
            border-left: 1px solid #aaa;
            border-top: 1px solid #aaa;
        }

        th {
            border-right: 1px solid #888;
            border-bottom: 1px solid #888;
            padding: 3px 15px;
            font-weight: bold;
            font-size: 13px;
        }

        td {
            border-right: 1px solid #888;
            border-bottom: 1px solid #888;
            padding: 3px 15px;
            color: #3C3C3C;
        }
    </style>
</head>

<body>
<div class="printTable">

    <p style="font-size: medium;text-align: center;white-space: normal;background-color: rgb(255, 255, 255)">
        <span style="font-size: 24px;font-weight: bold">西安国际港务区政务服务中心</span>
    </p>

    <p style="font-size: medium;text-align: center;white-space: normal;background-color: rgb(255, 255, 255)">
        <span style="font-size: 24px;font-weight: bold">物料转移单</span>
    </p>
    <p>
    <center>
        <button onclick="window.print()">打印</button>
    </center>
    </p>
    <table>
        <tbody>
        <tr>
            <td colspan="100" align="right">办件号：{{id}}</td>
        </tr>
        <tr>
            <td colspan="2" align="left">事项名称：{{itemVo.name}}</td>
        </tr>
        <tr>
            <td colspan="2" align="left">申请单位：{{companyVo.name}}</td>
        </tr>
        <tr>
            <td colspan="1" align="left" width="50%">联系人：{{memberVo.name}}</td>
            <td colspan="1" align="left">联系电话：{{memberVo.mobilephone}}</td>
        </tr>
        </tbody>
    </table>
    <table>
        <tbody>
        <tr>
            <td colspan="2">
                <h2 style="text-align: center">【综合窗口 → 审批部门】材料清单</h2>

            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style=" margin-top:1em;">
                    <div style="min-height:200px;">
                        <ol class="wl_list">
                            <li v-for="(index,material) in itemMaterialVoList" v-if="material.received==1">
                                <span>{{material.name}}</span> <span style="margin-left: 20px;">[ {{material.form | dict 'material_form'}}:{{material.number}}份]</span>
                            </li>
                        </ol>
                    </div>
                </div>

                <div style="min-height: 8em;">
                    <p style="text-align: left">备注：</p>

                </div>
            </td>
        </tr>
        <tr>
            <td style="text-align:left">&nbsp;综合窗口（签名）</td>
            <td style="text-align: center">审批部门（签名）</td>
        </tr>
        <tr>
            <td style="height:2em;text-align:left">后台协调员（签名）</td>
            <td style="height:2em"></td>
        </tr>
        <tr>
            <td style="text-align: left">日期:</td>
            <td style="text-align: left">日期:</td>
        </tr>
        </tbody>
    </table>
    <!--表格空白间隔分页-->
    <div style="margin: 300px auto;"></div>
    <table>
        <tbody>
        <tr>
            <td colspan="2">
                <h2 style="text-align: center">【审批部门 → 综合窗口】材料清单</h2>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div style=" margin-top:1em">

                    <div style="min-height:200px;">
                        <ol class="wl_list">
                            <li v-for="(index,material) in itemMaterialVoList" v-if="material.received==1">
                                <span>{{material.name}}</span> <span style="margin-left: 20px;">[ {{material.form | dict 'material_form'}}:{{material.number}}份]</span>
                            </li>
                        </ol>
                    </div>
                </div>

                <div style="min-height: 8em;">
                    <p style="text-align: left">备注：</p>

                </div>
            </td>
        </tr>
        <tr>
            <td style="text-align: center">审批部门（签名）</td>
            <td style="text-align: left">&nbsp;综合窗口（签名）</td>
        </tr>
        <tr>
            <td style="height:2em"></td>
            <td style="height:2em;text-align:left">后台协调员（签名）</td>

        </tr>
        <tr>
            <td style="text-align: left">日期:</td>
            <td style="text-align: left">日期:</td>
        </tr>
        </tbody>
    </table>


</div>
<script src="/common/enums"></script>
<script src="/common/dict"></script>
<script src="/lib/js/jquery.min.js?v=2.1.4"></script>
<script src="/lib/js/vue.min.js"></script>
<script src="/lib/js/js-extend.js"></script>
<script src="/lib/js/common.js"></script>
<script type="text/javascript">
    /*获取url传过来的参数*/
    function getParam(name) {
        return location.search.match(new RegExp('[?&]' + name + '=([^?&]+)', 'i')) ? decodeURIComponent(RegExp.$1) : '';
    }
    var id = getParam("id");
    var d = new Date();
    var printTable = new Vue({
        el: '.printTable',
        data: {
            today: d.getFullYear() + '年' + (d.getMonth() + 1) + '月' + d.getDate() + '日'
        },
        ready: function () {
            if (id == null) {
                return;
            }
            $.post('/admin/hall/number/query', {
                id: id
            }, function (data) {
                if (data.status == 200) {
                    if (data.data != null) {
                        printTable.$set('itemNumber', data.data.itemNumber);
                        printTable.$set('id', data.data.itemNumber.itemPretrialId);
                        printTable.$set('companyVo', data.data.companyVo);
                        printTable.$set('memberVo', data.data.memberVo);
                        printTable.$set('itemVo', data.data.itemVo);
                        printTable.$set('itemMaterialVoList', data.data.itemMaterialVoList);
                    } else {
                        error("没有找到记录");
                    }
                } else {
                    error(data.msg);
                }
            });
        }
    });
</script>

</body>


</html>
